<%= render('layouts/errors', :object => @instruction) %>

<%= form_for [@figure, @instruction] do |f| %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <br>
  <%= f.label :move %>
  <%= f.text_field :move %>
  <br>
  <%= f.label :call %>
  <%= f.text_field :call %>
  <br>
  <%= f.label :instruction %>
  <%= f.text_field :instruction %>
  <br>
  <%= f.label :bars %>
  <%= f.text_field :bars %>
  <p><%= f.submit %></p>
<% end %>
