<h1><%= @figure.number %></h1>

<h4><%= @figure.title %></h4>
<h4><%= @figure.tune %></h4>
<h4><%= @figure.bar_total %></h4>

<% if @figure.instructions.any? %>
  <h4>Here are the instructions for this figure:</h4>

  <ul>
    <% @figure.instructions.each do |instruction| %>
      <li>
        <%= instruction.number %> |
        <%= instruction.move %> |
        <%= instruction.call %> |
        <%= instruction.instruction %> |
        <%= instruction.bars %> |

        <%= link_to "Edit Instructions", edit_figure_instruction_path(@figure, instruction) %> |
        <%= link_to "Delete Instructions", figure_instruction_path(@figure, instruction),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no figures yet!</p>
<% end %>

<p><%= link_to "Add Instructions", new_figure_instruction_path(@figure) %></p>
<p><%= link_to "Edit Figure", edit_dance_path(@figure) %></p>
<p><%= link_to "Delete Figure", figure_path(@figure),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to figures", figures_path %></p>
