<!-- (to be editing and changed for figures and instructions) -->
<h1><%= @dance.name %></h1>

<h4><%= @dance.county %></h4>
<h4><%= @dance.style %></h4>
<h4><%= @dance.note %></h4>

<% if @dance.instructions.any? %>
  <h4>Here are the instructions for this dance:</h4>

  <ul>
    <% @dance.instructions.each do |instruction| %>
      <li>
        <%= instruction.number %> |
        <%= instruction.move %> |
        <%= instruction.call %> |
        <%= instruction.instruction %> |
        <%= instruction.bars %> |

        <%= link_to "Edit Instructions", edit_dance_instruction_path(@dance, instruction) %> |
        <%= link_to "Delete Instructions", dance_instruction_path(@dance, instruction),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no instructions yet!</p>
<% end %>

<p><%= link_to "Add Instructions", new_dance_instruction_path(@dance) %></p>
<p><%= link_to "Edit Dance", edit_dance_path(@dance) %></p>
<p><%= link_to "Delete Dance", dance_path(@dance),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to dances", dances_path %></p>
