<% provide(:title, "Section | Stomptown Dance Lessons") %>

<h1><%= @section.name %></h1>

<%= link_to "Add a Lesson", new_section_lesson_path(@section), class: "btn btn-primary" %>
<%= link_to "Delete Section", section_path(@section), class: "btn btn-danger",
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %>
<% if @section.lessons.any? %>
  <ul>
    <% @section.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.name, section_lesson_path(@section, lesson) %>

        <%= link_to "Edit",  edit_section_lesson_path(@section, lesson) %> |
        <%= link_to "Delete", section_lesson_path(@section, lesson),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no lessons yet!</p>
<% end %>
