<% provide(:title, "Dannces | Stomptown Dance Lessons") %>

<div class="dance-details">
  <h1><%= @dance.name %></h1>
  <h4>County: <%= @dance.county %></h4>
  <h4>Style: <%= @dance.style %></h4>
  <h4>Notes: <%= @dance.note %></h4>
</div>

<div class="figure-details">
  <% if @dance.figures.any? %>
  <table style="width:100%">
    <tr>
      <% @dance.figures.each do |figure| %>
        <th> Figure <%= figure.number %> </th>
        <th><%= figure.title %></th>
        <th><%= figure.tune %></th>
        <th><%= figure.bar_total %> Bars</th>
        <th><%= link_to "Add Instructions", new_figure_instruction_path(figure) %></th>
        <th><%= link_to "Edit Figure", edit_dance_figure_path(@dance, figure) %></th>
        <th>
        <%= link_to "Delete Figure", dance_figure_path(@dance, figure),
                                         :data => {:confirm => "Are you sure?",
                                                        :method => "delete"} %>

        </th>
        <tr>
  </table>
</div>

<div class="instruction-details">

</div>




        <% figure.instructions.each do |instruction| %>
          <li>
            <%= instruction.number %> |
            <%= instruction.move %> |
            <%= instruction.call %> |
            <%= instruction.instruction %> |
            <%= instruction.bars %> |
          </li>
        <% end %>

    <% end %>
  </ul>
<% else %>
  <p>There are no figures yet!</p>
<% end %>

<p><%= link_to "Add Figures", new_dance_figure_path(@dance) %></p>
<p><%= link_to "Edit Dance", edit_dance_path(@dance), id: "edit_dance_js", remote: true %></p>
<p><%= link_to "Delete Dance", dance_path(@dance),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to dances", dances_path %></p>
