<% provide(:title, "Dances | Stomptown Dance Lessons") %>

<div class="dance-details">
  <h1><%= @dance.name %></h1>
  <h4>County: <%= @dance.county %></h4>
  <h4>Style: <%= @dance.style %></h4>
  <h4>Notes: <%= @dance.note %></h4>
</div>

<% if @dance.figures.any? %>
  <h4>Here are the figures for this dance:</h4>

  <% @dance.figures.each do |figure| %>
  <div class="row">
    <div class="col-sm-6"><h4>Figure <%= figure.number %>: <%= figure.title %></h4></div>
    <div class="col-sm-2"><%= link_to "Edit Figure", edit_dance_figure_path(@dance, figure), class: "btn btn-primary" %></div>
    <div class="col-sm-2"><%= link_to "Delete Figure", dance_figure_path(@dance, figure), class: "btn btn-danger", :data => {:confirm => "Are you sure?", :method => "delete"} %></div>
    <div class="col-sm-2"><%= link_to "Add Instructions", new_figure_instruction_path(figure), class: "btn btn-primary", id: "new_instruction_js", remote: true %></div>
  </div>
  <% if figure.instructions.any? %>
    <ul id="instruction_list">
      <% figure.instructions.each do |instruction| %>
        <li>
          <%= instruction.number %> |
          <%= instruction.move %> |
          <%= instruction.call %> |
          <%= instruction.instruction %> |
          <%= instruction.bars %> |
      <% end %>
    </ul>
  <% else %>
    <p>There are no intructions yet!</p>
  <% end %>
    <% end %>

  <% else %>
  <p>There are no figures yet!</p>
  <% end %>

<hr>


<p><%= link_to "Add Figures", new_dance_figure_path(@dance), class: "btn btn-primary" %></p>
<p><%= link_to "Edit Dance", edit_dance_path(@dance), id: "edit_dance_js", remote: true %></p>
<p><%= link_to "Delete Dance", dance_path(@dance),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
