<h1><%= @section.name %></h1>

<p><%= @lesson.name %></p>
<p><%= @lesson.content %></p>
<div class="embed-responsive embed-responsive-16by9">
   <span class="embed-responsive-item"><%= raw(@lesson.video) %></span>
 </div>

<P><%= @lesson.callers_notes %></p>
