<h1>New course</h1>

<% if @course.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @course.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @course do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit  %>
<% end %>
