<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <header class="page-header">
      <ul class="nav nav-tabs pull-right">
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete'  %></li>

        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
      <h2 class="header">Stomptown Dance Lessons</h2>
    </header>

    <body>
      <div class="signed-in-as">
        <% if current_user %>
          <p class="navbar-text navbar-right nav_user">Signed in as <a href="#" class="navbar-link"><%= current_user.email %></a></p>
        <% else %>
          <p class="navbar-text navbar-right nav_user">Not Logged In</p>
        <% end %>
      </div>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </body>

  </div>
</html>
